html {
    font-family:'Bebas Neue', cursive;
    font-size: 20px;
    background-color: rgba(122,191,191,.5);
}

body {
    width: 414px;
    background-color: #fff;
    margin: 0 auto;
}

header, nav {
    background-color: #F2F2F2;
}

main p, dd, dt, .ingredients li, ol, input {
    font-size: 16px;
    font-family: 'Montserrat', sans-serif;
}

aside {
    background-color: #7ABFBF;
}

svg, img {
    margin: 0 auto;
}

h1 {
    margin: 0;
    font-size: 40px;
}

header {
    padding-top: 180px;
    text-align: center;
}

/* Main Recipe */

main {
    display: flex;
    background-color: #F2F2F2;
    flex-direction: column;
}

menu {
    margin: 0;
    padding: 10px;
    display: flex;
    justify-content: space-between;
}

.svgactions li {
    display: flex;
    flex-direction: column;
    list-style: none;
    text-align: center;
    justify-content: center;
    padding: 10px;
}

.svgactions li a {
    text-decoration: none;
    display: block;
    color: #EB5428;
    transition: color .8s ,background-color .5s, border-radius .5s;
}

.svgactions li a:hover {
    color: #7ABFBF;
    background-color: #F2F2F2; 
    border-radius: 5px;
}

main img {
    width: 100%;
}

main p {
    padding: 0 10px;
}

h2 {
    text-align: center;
    font-size: 30px;
    margin: 12px;
}

.list {
    flex-direction: column;
    display: flex;
    justify-items: center;
    padding-left: 20px;
}

.list dl {
    margin: 0;
    height: fit-content;
}

dt {
    font-weight: 700;
    display: inline-block;
    text-align: end;
}

dd {
    margin-left: 5px;
    padding: 0px;
    text-align: left;
    display: inline;
}

.directions {
    font-size: 16px;
    padding-bottom: 0;
}

#directions ol li {
    padding: 10px;
    
}

.ingredients li {
    padding-bottom: 14px;
    list-style: square;
    font-family: 'Montserrat', sans-serif;
}
/* Side Dishes */

.aside {
    padding-bottom: 10px;
    background-color: #7ABFBF;
}

.aside h2 {
    padding: 10px;
    margin: 0;
}

.aside figure {
    margin: 10px;
    display: grid;
    grid-template-columns: 130px 1fr;
    grid-template-rows: .24fr .5fr 65px;
    transition: background-color 1s linear, color .5s;
}

.aside figure:hover {
    background-color: #fff;
    color: #7ABFBF;
}

.aside img {
    width: 100%;
    grid-row: span 3;
    height: 99%;
    margin-top: 2px;;
}

.aside h3 {
    grid-column: 2;
    grid-row: 1;
    font-size: 25px;
    margin: 0 10px 10px;
}

figcaption { 
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    grid-column: 2;
    grid-row: 2;
    height: fit-content;
    margin-left: 10px;
}

.aside dt {
    grid-column: 2;
    grid-row: 3;
    display: inline;
    margin-left: 10px;
}

.aside dd {
    display: flex;
    margin-left: 10px;
}

.aside a {
    margin: 0;
    padding: 0;
    display: flex;
    text-decoration: none;   
}



/* Navigation */

nav h2 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}

nav {
    height: 180px;
    width: inherit;
    position: absolute;
    top: 0;
}

nav label {
    display: inline-block;
    user-select: none;
    margin-left: -19px;
    width: 60px;
    height: 60px;
    padding: 10px 20px;
    background-color: #fff;
}

nav span, nav li:last-child {
    display: flex;
    flex-direction: column;
    text-align: center;
}

nav span, nav li a {
    transition: color 1s, background-color 1s ease-in-out, border-radius 1s;
    color: #EB5428;
}

nav span a:hover, nav li:last-child a:hover {
    border-radius: 4px;
    color:#fff;
    background-color: #EB5428;
    transition: background-color .1s ease-in-out;
}

nav input #menu-btn {
    display: none;
}

nav ul {
    overflow: hidden;
    max-height: 0;
    width: 100%;
    padding: 0;
    margin: 0;
    transition: max-height .5s ease-out;
}


#menu-btn:checked ~ ul {
    max-height: 600px;
    z-index: 1;
}

nav img {
    visibility: hidden;
    width: 0;
}

nav li {
    list-style: none;
    display: block;
    width: 100%;
    background-color: #7ABFBF;
    text-align: center;
    padding: 10px 0;
    transition: background-color .1s ease-in-out;
}

nav li:hover {
    background-color: #fff
}

nav a {
    text-decoration: none; color: #0d0d0d;
}
/* logo */
nav li:first-child {
    position: absolute;
    top: 0;
    right: 90px;
    width: 230px;
    height: 80px;
    padding: 0px;
    background-color: #EB5428;

}

nav li:first-child a {
    width: 0;
    height: 0;
    margin: 0;
    padding: 0;
    visibility: hidden;
}

nav li:last-child {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px;
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: #fff; 
}


.search {
    position: relative;
    top: 20px;
    left: 40px;
    padding-bottom: 40px;
    display: flex;
    justify-items: center;
    font-family: 'Montserrat', sans-serif;
}

.search input {
    border: 3px solid #EB5428;
    padding: 1.5px;
    width: 280px;
    height: 50px;
    margin-top: 10px;
}

nav button {
    background-color: #EB5428;
    border: 2px solid #EB5428;
    margin-top: 9.5px;

}

#menu-btn {
    visibility: hidden;
}

/* footer/social media */

footer ul {
    margin: 0 auto;
    padding: 10px;
    display: flex; 
    justify-content: space-between;
}

footer section p {
    text-align: center;
    line-height: 1rem;
}

footer h2 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}

footer h3 {
    visibility: hidden;
    width: 0;
    height: 0;
    margin: 0;
}

footer img {
    justify-content: center;
    width: 50%;
    margin-left: 100px;
}

/* Medium Viewport */
@media screen and (min-width: 768px) {
    body {
        width: 768px;
    }

    h1 {
        text-align: left;
        padding-left: 10px;
        padding: 10px;
    }

    menu {
        position: absolute;
        width: 748px;
        background-color: rgba(255 ,255 ,255 ,.5);
    }

    .recipe {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: .5fr 1fr;
    }

    .details {
        grid-column: span 2;
        grid-row: 1;
    }

    .list {
        padding-left: 300px;
        margin-bottom: 5px;
    }

    .details {
        height: fit-content;
    }

    .ingredients {
        grid-column: 1;
        grid-row: 2;
        padding-left: 20px;
    }

    .ingredients h2 {
        padding-right: 130px;
    }

    .directions {
        grid-column: 2;
        grid-row: 2;
        margin-left: -80px;
    }

    ol li {
        padding: 10px;
    }
    .sides {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }

    dl {
        margin: 0;
        padding-left: -20px;
    }

    dd {
        padding-left: 10px;
        margin-top: -20px;
    }
/*stars*/
    .aside dd {
        padding-left: 65px;
    }

    #rice {
        grid: 1 / 1;
    }

    #salsa {
        grid: 1 / 2;
    }

    #guacamole {
        grid: 2 / 1;
    }

    #torillas {
        grid: 2 /2;
    }

    .aside figure {
        grid-template-rows: .25fr .5fr 50px;
    }

    nav {
        background-color: #fff;
    }

    nav label {
        width: 0;
        height: 0;
        visibility: hidden;
    }

    nav ul {
        display: flex;
        padding-top: 40px;
        overflow: visible;
    }

    nav li {
        padding: 0;
        
    }

/* logo */
    nav li:first-child {
        left: 0;
        width: 80px;
        height: 80px;
    }

    nav li:last-child {
        padding-top: 10px;
    }

    nav a:hover {
        background-color: #fff;
        color: #7ABFBF;
        border-radius: 3px;
    }

    nav img {
        visibility: visible;
        width: 40px;
        display: block;
    }

    .search {
        top: -95px;
        justify-content: center;
        padding-left: 150px;
    }
    
    footer {
        display: flex;
        flex-direction: row-reverse;
    }

    footer img {
        padding-top: 40px;
    }

    footer ul {
        width: 350px;
    }

    footer p {
        margin-bottom: 10px;
        margin-right: 10px;
    }
}

/* Large Viewport */
@media screen and (min-width: 1288px) {
    
    body {
        width: 1288px;
    }

    h1 {
        padding-bottom: 10px;
        text-align: center;
    }

    main {
        display: block;
    }

    .top {
        display: flex;
    }

    menu {
        display: block;
        width: fit-content;
        height: 652px;
        background-color: #fff;
        border: 2px solid #EB5428;
    }

    main img {
        width: 35%;
        margin-left: 130px;
        margin-right: 0;
        display: inline;
    }
}
    
